*.swp
experiments/AHE_benchmark/*.png
assignment1_GrayTrans/2/code/AHE_benchmark/*.png
experiments/bilateral_benchmark/*
experiments/pbl_benchmark/*
*~

# Latex Extras
*.out
*.dvi
*.log
*.aux
*.pdf
*.bbl
*.blg
*.gz
